---
tags: [3-D-Secure, Online, Web, Mobile, Card Not Present]
---

# 3-D Secure Verification

<!-- theme: danger -->
> We are enhancing Commerce Hub to support the 3-D Secure and the documents related to the features will be released soon.

---

## See Also

- [API Explorer](../api/?type=post&path=/payments/v1/charges)
- [3-D Secure](?path=docs/Online-Mobile-Digital/3D-Secure/3DSecure.md)
- [Payment Card](?path=docs/Resources/Guides/Payment-Sources/Payment-Card.md)
- [Payment Sources](?path=docs/Resources/Guides/Payment-Sources/Source-Type.md)

---
