steps:  
  learnSteps:
    - title: Learn
      description: >
        Quickly find the right integration, experiment with our APIs, and discover guided 
        tutorials for your next project.
      link:
  buildSteps:
    - title: Build
      description: >
        Leverage sample code, comprehensive SDKs, plug-ins, and sandbox testing to 
        complete your project fast.
      link:
  validateSteps:
    - title: Validate
      description: >
        Identify parts of your project that need attention and solutions end-to-end in 
        our advanced Sandbox.
      link:
  deploySteps:
    - title: deploy
      description: >
        Submit your project for automated certification and deploy to Production.
      link:
featuredFeatures:
  - title: Tokenization
    description: >
      Remove sensitive customer data from your environment and reduce PCI compliance 
      scope. Transaction data is protected by a randomly-generated identifier known as a 
      "token".
    tags: ["tag1", "tag2"]
    bullets: ["Increase payment security and reduce risk", "No need to store personal customer information", "Less operational costs", "Improved customer experience"]
    links: ["docs/Resources/API-Documents/Payments_VAS/Payment-Token.md"]
  - title: Apple Pay
    description: >
      One of the most popular mobile payment and digital wallets. Customers can make 
      payments in-store, mobile or online. To leverage, customers use an Apple devices 
      - iPhone, Apple Watch, iPad, Mac, etc.
    tags: ["tag1", "tag2"]
    bullets: ["Faster acceptance than credit or debit", "Biometric security", "Global offering and acceptance"]
    links: ["docs/Online-Mobile-Digital/Wallets-AltPayments/Apple-Pay/Apple-Pay.md"]
  - title: API Integration
    description: >
      Leverage your existing infrastructure and UI to accept payments online, in-store or on
      mobile devices.
    tags: ["tag1", "tag2"]
    bullets: ["Modern technology stack", "Automated backoffice", "Fast testing, certification and implementation"]
    links: ["docs/Resources/API-Documents/Use-Our-APIs.md"]
benefits:
  - title: Transform Customer Experiences
    description: >
      Pre-certified integrations to value added solutions and third-party providers 
      that power next-generation commerce experiences.
  - title: Accelerate Revenue
    description: Intelligent orchestration layer that reduces code complexity and operational costs.
  - title: Optimize Commerce
    description: Backoffice automation with a modern set of tools and APIs.   
featuredAPIs:
  - name: Charges
    description: Used to submit a charge transaction.
    type: POST
    route: /payments/v1/charges
    codeSample: '[json
                  {
                     "amount":{
                        "total":"12.04",
                        "currency":"USD"
                     },
                     "source":{
                        "sourceType":"PaymentCard",
                        "card":{
                           "cardData":"4005550000000019",
                           "expirationMonth":"02",
                           "expirationYear":"2035",
                           "securityCode":"123",
                           "securityCodeIndicator":"PROVIDED"
                        }
                     },
                     "transactionDetails":{
                        "captureFlag":true
                     }
                  }]'
    language: Curl
    link: link to API Explorer
  - name: Tokenization
    description: Transaction data is protected by a randomly-generated identifier known as a "token".
    type: POST
    route: /payments-vas/v1/tokens
    codeSample: '[json
                  {
                     "amount":{
                        "total":"1.00",
                        "currency":"USD"
                     },
                     "source":{
                        "sourceType":"PaymentCard",
                        "card":{
                           "cardData":"4005550000000019",
                           "expirationMonth":"02",
                           "expirationYear":"2035",
                           "securityCode":"123"
                        }
                     },
                     "transactionDetails":{
                        "captureFlag":false,
                        "createToken":true,
                        "tokenProvider":"RSA"
                     }
                  }]'
    language: Curl
    link: link to API Explorer 
  - name: Verifications
    description: Confirm account validity and provide notification.
    type: POST
    route: /payments-vas/v1/accounts/verification
    codeSample: '[json
                  {
                     "source":{
                        "sourceType":"PaymentCard",
                        "card":{
                           "cardData":"4005550000000019",
                           "expirationMonth":"02",
                           "expirationYear":"2035"
                        }
                     }
                  }]'
    language: Curl
    link: link to API Explorer  
  - name: Capture
    description: Capture pending authorization for settlement post authorization.
    type: POST
    route: /payments/v1/charges/{transactionId}/capture
    codeSample: '[json
                  {
                    "amount": {
                      "total": "12.04",
                      "currency": "USD"
                    },
                    "transactionDetails": {
                      "captureFlag": true
                    }
                  }]'
    language: Curl
    link: link to API Explorer   
useCases:
  - title: In-App Payments
    subtitle: Apple Pay
    description: > 
      Create touchless, faster payment experiences leveraging biometric security.

      Accept contactless, touchless payments Customers can One of the most popular 
      mobile payment and digital wallets. Customers can make payments in-store, mobile 
      or online. To leverage, customers use an Apple devices - iPhone, Apple Watch, iPad, 
      Mac, etc.
    bullets: ["Faster acceptance than credit or debit", "Biometric security", "Global offering and acceptance"]
    link: docs/Online-Mobile-Digital/Wallets-AltPayments/Apple-Pay/Apple-Pay-App.md
  - title: Secure Transactions
    subtitle: Tokenization
    description: > 
      Remove sensitive customer data from your environment and reduce PCI compliance scope. 
      Transaction data is protected by a randomly-generated identifier known as a "token".
    bullets: ["Increase payment security and reduce risk", "No need to store personal customer information", "Less operational costs", "Improved customer experience"]
    link: docs/Resources/API-Documents/Payments_VAS/Payment-Token.md
  - title: Ensure Compliance
    subtitle: Split Shipment
    description: Allow multiple post-authorizations for each shipment to meet card brand compliance.
    bullets: ["maintain compliance standards", "Reduce chargebacks", "Enhances authorization optimization"]
    link: docs/Resources/Guides/Split-Shipment.md
